
                div#slideshow_nav_1{
                        position:absolute;
                        z-index: 10;
                        bottom:0;
                        right:0;
                        padding:5px;
                }
                .slide_nav_1 {
                        clear:both;
                        margin:5px 0;
                }
                .slide_nav_1 a {
                            -webkit-border-radius: 8px;
                            -moz-border-radius: 8px; 
                            border-radius: 8px;
                        background:none repeat scroll 0 0 #ededed;
                        border:2px solid #444040;
                        color:#ededed!important;
                        font-size:1px;
                        font-weight:bold;
                        margin:2px;
                        padding:5px 5px;
                        line-height:10px;
                        text-decoration:none;
                }
                .slide_nav_1 a.activeSlide {
                        background:none repeat scroll 0 0 #61d3ff;
                        color:#61d3ff !important;
                }
                .slide_nav_1 a:focus {
                        outline:medium none;
                }

                div#slideshow_1 {
                        width:890px; height: 290px; /*padding: 15px 0 0 12px;*/
                        position: relative; z-index: 5;
                        overflow: hidden;
                        margin: 0 auto;
                        background:#000000;
                }
                        div#slideshow_1 img{
                                border:none!important;
                                padding:0;
                                margin:0;
                        }
                        div#slideshow_1 ul#prevnextnav_1 {
                                padding: 0;
                                display: none;
                                list-style: none;
                                position: relative; top: 140px; z-index: 15;
                                outline:medium none;
                                margin:0;
                        }
                                div#slideshow_1 ul#prevnextnav_1 li#prev_1 {
                                        position:absolute; left:45px; margin: 0;padding: 0;
                                }
                                div#slideshow_1 ul#prevnextnav_1 li#next_1 {
                                        position:absolute; left:806px; margin: 0 20px 0 0;padding: 0;
                                }
                                div#slideshow_1 ul#prevnextnav_1 li a {
                                        display: block; width: 40px; height: 40px; text-indent: -9999px;
                                }
                                        div#slideshow_1 ul#prevnextnav_1 li#prev_1 a {

                                                background: url(http://localhost/barn/modules/Showtime/templates/jquery/images/prev_40.png);

                                        }
                                        div#slideshow_1 ul#prevnextnav_1 li#next_1 a {

                                                background: url(http://localhost/barn/modules/Showtime/templates/jquery/images/next_40.png);

                                        }

                        div#slideshow_1 ul#slides_1{
                                list-style: none;padding: 0; margin:0; z-index:5;
                                width:890px; height: 290px;
                        }
                                div#slideshow_1 ul#slides_1 li {
                                        width:890px; height: 290px;
                                        margin: 0 0 20px 0;
                                }

                a {outline: none; }